<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings file="">
    <clear />
    
    <!--  Credentials. Enter your api key below. Refer to the documentation -->
    <add key="FaceAPIKey" value=""/>                <!-- Sign up here: http://gallery.azureml.net/MachineLearningAPI/b0b2598aa46c4f44a08af8891e415cc7 -->  
    <add key="SpeechRecognitionAPIKey" value=""/>   <!-- Sign up here: http://gallery.azureml.net/MachineLearningAPI/89d229231a72471ebf7280fb5bd3e18c -->
    <add key="TextAnalyticsAPIKey" value="" />      <!-- Sign up here: http://gallery.azureml.net/MachineLearningAPI/6948e0a54fe44e6fb70cbcc143b31298 -->  

    <!--  set to true if you want to identify specific people you have trained the face api to recognise.  See the TrainFaceDetector function so see how.  -->
    <add key="IdentifySpecificPeople" value="false" />

    <!--  URLS when a single mail person is in front of the camera. -->
    <add key ="MaleYoungerThan12" value="http://www.toysrus.com/buy/plush-vinyl/despicable-me-2-electronic-plush-dave-the-minion-20023-19758826"/>
    <add key ="MaleYoungerThan18" value="http://www.sears.com/tvs-electronics-gaming/b-1347529268"/>
    <add key ="MaleYoungerThan25" value="http://www.microsoftstore.com/store/msusa/en_US/pdp/productID.319983600?icid=homepage_whatsnew_2_090715"/>
    <add key ="MaleYoungerThan32" value="https://www.etsy.com/listing/115093140/bonfire-type-scented-soap-3-oz-bar?ref=listing-shop-header-3"/>
    <add key ="MaleYoungerThan40" value="http://www.bbqfans.com/products/outset-leather-grill-apron"/>
    <add key ="MaleYoungerThan50" value="http://www.sears.com/cm-19.2v/p-00945079000P?adCell=R11_DoD_Img_3"/>
    <add key ="MaleYoungerThan55" value="http://www.amazon.com/Finding-Meaning-Second-Half-Life-ebook/dp/B000P2A436"/>
    <add key ="MaleYoungerThan60" value="http://www.barnesandnoble.com/w/sending-your-child-to-college-marie-pinak-carr/1102998943?ean=9780933165168"/>
    <add key ="MaleOlder" value="http://www.barnesandnoble.com/w/the-truth-about-retirement-plans-and-iras-ric-edelman/1117376839?ean=9781476739854"/>


    <!--  URLS when a single female person is in front of the camera. -->
    <add key ="FemaleYoungerThan12" value="http://www.toysrus.com/buy/plush-vinyl/despicable-me-2-electronic-plush-dave-the-minion-20023-19758826"/>
    <add key ="FemaleYoungerThan18" value="http://www.aeropostale.com/shop/index.jsp?categoryId=3534619"/>
    <add key ="FemaleYoungerThan25" value="https://www.genejuarez.com/spa/salon-spa-packages/"/>
    <add key ="FemaleYoungerThan32" value="https://www.genejuarez.com/spa/salon-spa-packages/"/>
    <add key ="FemaleYoungerThan40" value="https://www.genejuarez.com/spa/salon-spa-packages/"/>
    <add key ="FemaleYoungerThan50" value="https://www.genejuarez.com/spa/salon-spa-packages/"/>    
    <add key ="FemaleYoungerThan60" value="http://www.barnesandnoble.com/w/sending-your-child-to-college-marie-pinak-carr/1102998943?ean=9780933165168"/>
    <add key ="FemaleOlder" value="http://www.24hourfitness.com/classes/water/"/>

    <!--  URLS when at least 2 adults are in front of the camera -->
    <add key ="TwoOrMoreAdults" value="http://www.macaronigrill.com/"/>

    <!--  URLS when there is a child and at least another person-->
    <add key ="MorethanOnePersonAndChild" value="http://www.houzz.com/photos/25561206/Triumph-Play-Systems-Quad-Space-Saver-traditional-kids-playsets-and-swing-sets"/>

    <!-- URL related to speech APIs -->
    <add key ="SpeechKeyword1" value="expensive"/>
    <add key ="SpeechKeyword1Url" value="http://www.kmart.com/backyard-discovery-prairie-ridge-cedar-swing-set-free/p-004V004725841000P?prdNo=4"/>

    <add key ="SpeechKeyword2" value="fish"/>
    <add key ="SpeechKeyword2Url" value="http://www.bonappetit.com/test-kitchen/ingredients/article/best-seafood-restaurants"/>

  </appSettings>
</configuration>